<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysqlImpl" class="nuc.ss.dao.UserDaoMysqlImpl"/>
    <bean id="oracleImpl" class="nuc.ss.dao.UserDaoOracleImpl"/>

    <bean id="UserServiceImpl" class="nuc.ss.service.UserServiceImpl">
        <!--ref: 引用Spring容器中创建好的对象
            value: 具体的值，基本数据类型
        -->
        <property name="userDao" ref="mysqlImpl"/>
    </bean>
</beans>