<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="nuc.ss.service.UserServiceImpl"/>

    <!--方式一：使用原生Spring API接口-->

    <!--注册bean-->
    <!--<bean id="log" class="nuc.ss.log.Log"/>-->
    <!--<bean id="afterLog" class="nuc.ss.log.AfterLog"/>-->
    <!--配置aop：需要导入aop的约束-->
    <!--<aop:config>-->
    <!--    &lt;!&ndash;切入点：expression:表达式，execution(需要执行的位置！ * * * * *)&ndash;&gt;-->
    <!--    <aop:pointcut id="poincut" expression="execution(* nuc.ss.service.UserServiceImpl.*(..))"/>-->
    <!--    &lt;!&ndash;执行环绕增加&ndash;&gt;-->
    <!--    <aop:advisor advice-ref="log" pointcut-ref="poincut"/>-->
    <!--    <aop:advisor advice-ref="afterLog" pointcut-ref="poincut"/>-->
    <!--</aop:config>-->

    <!--方式二：自定义类-->

    <!--<bean id="diy" class="nuc.ss.diy.DiyPointCut"/>-->
    <!--<aop:config>-->
    <!--    &lt;!&ndash;自定义切面，ref要引用的类&ndash;&gt;-->
    <!--    <aop:aspect ref="diy">-->
    <!--        &lt;!&ndash;切入点&ndash;&gt;-->
    <!--        <aop:pointcut id="point" expression="execution(* nuc.ss.service.UserServiceImpl.*(..))"/>-->
    <!--        <aop:before method="before" pointcut-ref="point"/>-->
    <!--        <aop:after method="after" pointcut-ref="point"/>-->
    <!--        &lt;!&ndash;通知&ndash;&gt;-->
    <!--    </aop:aspect>-->
    <!--</aop:config>-->

    <!--方式三：注解-->
    <bean id="annotationPointCut" class="nuc.ss.diy.AnnotationPointCut"/>
    <!--开启注解支持: JDK（默认proxy-target-class="false"） cglib-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>